<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="
    sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>available requests</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
            Available requests
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 center-block">
                    <div class="card-header">
                        Weather and clothes mechanisms
                    </div>
                    <div class="card border-warning mb-3 text-center" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">Получить данные о погоде сейчас</h5>
                            <h6 class="card-subtitle mb-2 text-muted">api/weather/lat="широта"&lon="долгота"</h6>
                            <a href="api/weather/lat=55.742793&lon=37.615401" class="btn btn-warning">See example(Moscow)</a>
                        </div>
                    </div>
                    <div class="card border-warning mb-3 text-centerr" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">Получить прогноз погоды</h5>
                            <h6 class="card-subtitle mb-2 text-muted">api/weather/forecast/lat="широта"&lon="долгота"</h6>
                            <a href="api/weather/forecast/lat=55.742793&lon=37.615401" class="btn btn-warning">See example(Moscow)</a>
                        </div>
                    </div>
                    <div class="card border-warning mb-3 text-center" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">Получить все возможные данные</h5>
                            <h6 class="card-subtitle mb-2 text-muted">api/all_in_one/lat="широта"&lon="долгота"&user_id="id юсера"</h6>
                            <a href="api/all_in_one/lat=55.742793&lon=37.615401&user_id=a7adb896fc6f9407" class="btn btn-warning">See example(Moscow)</a>
                        </div>
                    </div>
                    <div class="card border-warning mb-3 text-center" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">Получить данные по одежде сейчас</h5>
                            <h6 class="card-subtitle mb-2 text-muted">api/clothes/lat="широта"&lon="долгота"&user_id="id юсера"</h6>
                            <a href="api/clothes/lat=55.742793&lon=37.615401&user_id=a7adb896fc6f9407" class="btn btn-warning">See example(Moscow)</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 center-block">
                    <div class="card-header">
                        Administration requests
                    </div>
                    <div class="card border-info mb-3 text-center" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">Зарегестрировать пользователя</h5>
                            <h6 class="card-subtitle mb-2 text-muted">api/create_user/name="name"&temp_pref="temp_pref"</h6>
                            <a href="api/create_user/name=Vasya228&temp_pref=1" class="btn btn-info">Попробуй создать васю228</a>
                        </div>
                    </div>
                    <div class="card border-info mb-3 text-center" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">Изменить предпочтения пользователя</h5>
                            <h6 class="card-subtitle mb-2 text-muted">api/change_user/name="name"&user_id="user_id"&new_temp_pref="new_temp_pref"&lat="широта"&lon="долгота"</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/
    X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0Cp
    HqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1r
    RibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
